xbee-test-dio-flow.json
[{"id":"58f9b23c.a7064c","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"bin","out":"char","addchar":false},{"id":"60d9177a.9f26e8","type":"trigger","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"1","extend":"false","units":"s","name":"One Second Trigger","x":335,"y":188,"z":"3c6a6aac.c39596","wires":[["6e805363.917fac"]]},{"id":"6e805363.917fac","type":"switch","name":"","property":"payload","rules":[{"t":"eq","v":"1"},{"t":"else"}],"checkall":"true","outputs":2,"x":535,"y":188,"z":"3c6a6aac.c39596","wires":[["965832a7.69a7d"],["bedd7716.412288"]]},{"id":"18e9b46d.e7164c","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":136,"y":189,"z":"3c6a6aac.c39596","wires":[["60d9177a.9f26e8"]]},{"id":"965832a7.69a7d","type":"xbee dio out","name":"Pulse On","serial":"58f9b23c.a7064c","destination":"0013A200403BB1BB","dio":"DIO4","pinstate":"DIGITAL_OUTPUT_HIGH","x":744,"y":155,"z":"3c6a6aac.c39596","wires":[]},{"id":"bedd7716.412288","type":"xbee dio out","name":"Pulse Off","serial":"58f9b23c.a7064c","destination":"0013A200403BB1BB","dio":"DIO4","pinstate":"DIGITAL_OUTPUT_LOW","x":753,"y":241,"z":"3c6a6aac.c39596","wires":[]},{"id":"c22a16b1.3dd5e8","type":"trigger","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"1","extend":"false","units":"s","name":"One Second Trigger","x":320,"y":373,"z":"3c6a6aac.c39596","wires":[["23ef30af.dc10d"]]},{"id":"23ef30af.dc10d","type":"switch","name":"","property":"payload","rules":[{"t":"eq","v":"1"},{"t":"else"}],"checkall":"true","outputs":2,"x":532,"y":372,"z":"3c6a6aac.c39596","wires":[["134f50a3.ecb0af"],["fa8d072f.0572f8"]]},{"id":"61dbc323.9e243c","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":121,"y":374,"z":"3c6a6aac.c39596","wires":[["c22a16b1.3dd5e8"]]},{"id":"562bc432.a9d43c","type":"xbee dio out","name":"Pulse On","serial":"58f9b23c.a7064c","destination":"","dio":"","pinstate":"","x":887,"y":340,"z":"3c6a6aac.c39596","wires":[]},{"id":"ad667cb4.52998","type":"xbee dio out","name":"Pulse Off","serial":"58f9b23c.a7064c","destination":"","dio":"","pinstate":"","x":889,"y":431,"z":"3c6a6aac.c39596","wires":[]},{"id":"134f50a3.ecb0af","type":"function","name":"HIGH","func":"msg.destination = \"0013A200403BB1BB\";\nmsg.dio = \"DIO4\";\nmsg.state = \"DIGITAL_OUTPUT_HIGH\";\nreturn msg;","outputs":1,"valid":true,"x":733,"y":341,"z":"3c6a6aac.c39596","wires":[["562bc432.a9d43c"]]},{"id":"fa8d072f.0572f8","type":"function","name":"LOW","func":"msg.destination = \"0013A200403BB1BB\";\nmsg.dio = \"DIO4\";\nmsg.state = \"DIGITAL_OUTPUT_LOW\";\nreturn msg;","outputs":1,"valid":true,"x":732,"y":431,"z":"3c6a6aac.c39596","wires":[["ad667cb4.52998"]]}]